PUBLIC_API_URL=http://127.0.0.1:8000

# Konfigurasi Environment: 'staging' atau 'production'
# - 'staging'    : Memblokir Google agar TIDAK mengindeks web (noindex, nofollow & Disallow: /)
# - 'production' : Mengizinkan Google mengindeks web secara penuh (index, follow & Allow: /)
PUBLIC_SITE_ENV=staging
